
@{
    ViewBag.Title = "Favourite";
}
<div class="w-[100%] h-[10rem] bg-sky-500 px-[7%] flex items-center">
    <p class="text-white">
        <a href="Home.html">Trang chủ</a> >
        <strong>Yêu thích</strong>
    </p>
</div>

<section class="mx-[7%] my-10">
    <div class="flex justify-start gap-4">
        <div class="border border-gray-300 p-4 rounded-lg flex flex-col gap-3 hover:border-blue-500 cursor-pointer w-1/4">
            <div class="relative w-100 h-[10rem]">
                <img class="absolute top-0 left-0 w-100 h-[10rem] cover rounded-t-lg" src="https://bizweb.dktcdn.net/thumb/large/100/505/645/products/sp2.jpg?v=1703065085930" alt="">
                <span class="absolute top-3 right-3"><i class="fa-solid fa-heart text-sky-500 p-2 bg-sky-100 rounded"></i></span>
                <span class="absolute bottom-0 right-0 px-2 py-1 bg-black opacity-50 cursor-grabbing" title="Di chuyển bằng máy bay"><i class="fa-solid fa-plane text-white"></i></span>
            </div>
            <p class="flex gap-2 items-center"><i class="fa-solid fa-location-dot text-blue-600"></i> <span class="text-gray-500">Khởi hành từ: Hà Nội</span></p>
            <p class="text-lg font-medium">HCM - Seoul - Đảo Nami - Trượt Tuyết Elysian 5N4Đ</p>
            <div class="flex gap-2">
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
            </div>
            <span class="text-blue-600 font-medium underline underline-offset-4">15.000.000 đ</span>
            <p class="text-sm"><i class="fa-regular fa-clock text-gray-500"></i> <span class="text-gray-500">Thời gian: 5N4Đ</span></p>
        </div>
        <div class="w-1/4 border border-gray-300 p-4 rounded-lg flex flex-col gap-3 hover:border-blue-500 cursor-pointer">
            <div class="relative w-100 h-[10rem]">
                <img class="absolute top-0 left-0 w-100 h-[10rem] cover rounded-t-lg" src="https://bizweb.dktcdn.net/thumb/large/100/505/645/products/sp5.jpg?v=1703064847313" alt="">
                <span class="absolute top-3 right-3"><i class="fa-solid fa-heart text-sky-500 p-2 bg-sky-100 rounded"></i></span>
                <span class="absolute bottom-0 right-0 px-2 py-1 bg-black opacity-50 cursor-grabbing" title="Di chuyển bằng máy bay"><i class="fa-solid fa-plane text-white"></i></span>
            </div>
            <p class="flex gap-2 items-center"><i class="fa-solid fa-location-dot text-blue-600"></i> <span class="text-gray-500">Khởi hành từ: Hà Nội</span></p>
            <p class="text-lg font-medium">HCM - Seoul - Đảo Nami - Trượt Tuyết Elysian 5N4Đ</p>
            <div class="flex gap-2">
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
            </div>
            <span class="text-blue-600 font-medium underline underline-offset-4">15.000.000 đ</span>
            <p class="text-sm"><i class="fa-regular fa-clock text-gray-500"></i> <span class="text-gray-500">Thời gian: 5N4Đ</span></p>
        </div>
        <div class="w-1/4 border border-gray-300 p-4 rounded-lg flex flex-col gap-3 hover:border-blue-500 cursor-pointer">
            <div class="relative w-100 h-[10rem]">
                <img class="absolute top-0 left-0 w-100 h-[10rem] cover rounded-t-lg" src="https://bizweb.dktcdn.net/thumb/large/100/505/645/products/sp4.jpg?v=1703064541193" alt="">
                <span class="absolute top-3 right-3"><i class="fa-solid fa-heart text-sky-500 p-2 bg-sky-100 rounded"></i></span>
                <span class="absolute bottom-0 right-0 px-2 py-1 bg-black opacity-50 cursor-grabbing" title="Di chuyển bằng máy bay"><i class="fa-solid fa-plane text-white"></i></span>
            </div>
            <p class="flex gap-2 items-center"><i class="fa-solid fa-location-dot text-blue-600"></i> <span class="text-gray-500">Khởi hành từ: Hà Nội</span></p>
            <p class="text-lg font-medium">HCM - Seoul - Đảo Nami - Trượt Tuyết Elysian 5N4Đ</p>
            <div class="flex gap-2">
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
                <i class="fa-solid fa-star text-blue-600"></i>
            </div>
            <span class="text-blue-600 font-medium underline underline-offset-4">15.000.000 đ</span>
            <p class="text-sm"><i class="fa-regular fa-clock text-gray-500"></i> <span class="text-gray-500">Thời gian: 5N4Đ</span></p>
        </div>

    </div>
</section>