
@{
    ViewBag.Title = "Index";
}

<div class="w-full overflow-hidden rounded-lg shadow-xs flex gap-5" style="width: 1162px;">
    <div>
        <div class="flex justify-between items-center">
            <h3 class="text-2xl text-black my-4">Danh sách các điểm đến</h3>
            <button class="text-white bg-blue-500 rounded px-4 py-2" id="btnAddCity">Thêm mới</button>
        </div>
        <table class="w-full whitespace-no-wrap rounded overflow-hidden">
            <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                    <th class="px-4 py-3">ID</th>
                    <th class="px-4 py-3">Hình ảnh</th>
                    <th class="px-4 py-3">Điểm đến</th>
                    <th class="px-4 py-3">Thành phố</th>
                    <th class="px-4 py-3">Mô tả</th>
                    <th class="px-4 py-3">Chức năng</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                <tr class="text-gray-700 dark:text-gray-400">
                    <td class="px-4 py-3">DM001</td>
                    <td class="px-4 py-3">
                        <img class="w-[10rem] h-[5rem] rounded" src="https://images.unsplash.com/photo-1509030450996-dd1a26dda07a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGhhbm9pfGVufDB8fDB8fHww" alt="">
                    </td>
                    <td class="px-4 py-3 text-sm">Phố cổ Hà Nội</td>
                    <td class="px-4 py-3 text-sm">Hà Nội</td>
                    <td class="px-4 py-3 text-sm w-[20rem]">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolores similique enim atque quibusdam dolorem doloribus quaerat quas.
                        Ducimus officia quidem ea vero nihil dolorem sed voluptatum.
                    </td>
                    <td class="px-4 py-3 flex gap-3">
                        <button class="delete-button px-4 py-1 bg-red-500 text-white rounded text-sm hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                            Xoá
                        </button>
                        <button class="px-4 py-1 bg-blue-500 text-white rounded text-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                            Cập nhật
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="addCity" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center hidden">
    <div class="w-[35rem] mx-auto p-6 bg-white shadow-lg rounded-lg rounded-md border border-gray-300 relative">
        <h2 class="text-2xl font-semibold text-center mb-6">Thêm mới điểm đến</h2>
        <button id="closeAdd" class="absolute top-5 right-5 w-[2rem] h-[2rem] bg-blue-200 rounded flex justify-center items-center"><i class="fa-solid fa-xmark text-blue-500"></i></button>
        <form action="#" method="POST">
            <div class="mb-4">
                <label for="name" class="block text-sm font-medium text-gray-700">Tên điểm đến</label>
                <input type="text" id="name" name="name" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>

            <div class="mb-4">
                <label for="imageInput" class="block text-sm font-medium text-gray-700">Hình ảnh</label>
                <input type="file" id="imageInput" name="imageInput" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                <img id="previewImage" src="" class="w-[10rem] h-[5rem] mt-3 cover" style="display: none;" alt="">
            </div>

            <div class="mb-4 w-[15rem]">
                <label for="discountCode" class="block text-sm font-medium text-gray-700">Tỉnh/Thành phố</label>
                <select id="discountCode" name="discountCode" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
                    <option value="du-lich">-- Chọn tỉnh/thành phố --</option>
                    <option value="du-lich">Hà Nội</option>
                    <option value="kham-pha">Quảng Trị</option>
                    <option value="khac">Hồ Chí Minh</option>
                    <option value="khac">Đà Nẵng</option>
                    <option value="khac">Cao Bằng</option>
                    <option value="khac">Cà Mau</option>
                    <option value="khac">Cao Bằng</option>
                    <option value="khac">Thái Nguyên</option>
                    <option value="khac">Hòa Bình</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-gray-700">Mô tả</label>
                <textarea id="description" name="description" rows="4" class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required></textarea>
            </div>

            <div class="flex justify-end gap-5">
                <button type="button" id="cancelAdd" class="px-6 py-2 bg-gray-400 text-white rounded-lg hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-50">
                    Hủy
                </button>
                <button type="submit" class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                    Thêm
                </button>
            </div>
        </form>
    </div>
</div>

<div id="confirmModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-white p-6 rounded-lg shadow-lg w-1/3">
        <h2 class="text-xl text-black"><i class="fa-solid fa-circle-info text-blue-500"></i> Thông báo</h2>
        <p class="text-black font-light">Bạn có chắc chắn muốn xóa khách hàng có thông tin: <strong id="info"></strong>?</p>
        <div class="flex justify-end mt-4">
            <button id="cancelButton" class="px-4 py-2 bg-gray-300 text-black rounded-lg hover:bg-gray-400 mr-2">
                Hủy
            </button>
            <button id="confirmButton" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-700">
                Xoá
            </button>
        </div>
    </div>
</div>

<script>
        const deleteButtons = document.querySelectorAll('.delete-button');
        const confirmModal = document.getElementById('confirmModal');
        const tourNameSpan = document.getElementById('tourName');
        const cancelButton = document.getElementById('cancelButton');
        const confirmButton = document.getElementById('confirmButton');
        const info = document.getElementById('info');
        // Lắng nghe sự kiện click cho từng nút
        deleteButtons.forEach(button => {
            button.addEventListener('click', () => {
                // Lấy giá trị data-id
                const customerId = button.getAttribute('data-id');
                const customerName = button.getAttribute('data-name');

                confirmModal.classList.remove('hidden');
                info.innerText = `${customerId} ${customerName}`
            });
        });
        cancelButton.addEventListener('click', function () {
            confirmModal.classList.add('hidden');
        });

        // Xóa hàng khi nhấn "Xoá" trong modal
        confirmButton.addEventListener('click', function () {
            confirmModal.classList.add('hidden');
        });

        const btnAddCity = document.getElementById('btnAddCity');
        const addCity = document.getElementById('addCity');
        const cancelAdd = document.getElementById('cancelAdd');
        const closelAdd = document.getElementById('closeAdd');
        console.log(closelAdd);


        btnAddCity.addEventListener('click', function () {
            addCity.classList.remove('hidden');
        });

        cancelAdd.addEventListener('click', function () {
            addCity.classList.add('hidden');
        });
        closelAdd.addEventListener('click', function () {
            addCity.classList.add('hidden');
        });
    //   Xử lý hình ảnh

      const imageInput = document.getElementById('imageInput');
        const previewImage = document.getElementById('previewImage');

        imageInput.addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();

                // Khi đọc xong, hiển thị ảnh
                reader.onload = function(e) {
                    previewImage.src = e.target.result; // Đường dẫn ảnh
                    previewImage.style.display = 'block'; // Hiển thị ảnh
                };

                reader.readAsDataURL(file); // Đọc file dưới dạng URL
            }
        });
</script>

