
@{
    ViewBag.Title = "Index";
}

<style>
    html {
        scroll-behavior: smooth;
    }
</style>

<div class="w-[100%] h-[10rem] bg-sky-500 px-[7%] flex items-center">
    <p class="text-white">
        <a href="Home.html">Trang chủ</a> >
        <a href="Tour.html">Đà Nẵng</a> >
        <strong>Các điểm nổi bật về thành phố Đà Nẵng</strong>
    </p>
</div>

<section class="px-[7%] my-20 w-[75%]">
    <h3 class="text-2xl text-blue-600 font-medium">Đặc sản Hà Nội: Top 20 đặc sản ngon nên thử và mua làm quà</h3>
    <p class="my-3">
        Hà Nội là thành phố nổi tiếng với nền ẩm thực truyền thống và đa dạng.
        Các món ăn Hà Nội luôn được đánh giá cao bởi hương vị tính tế và thanh đạm,
        mang đậm nét văn hoá và tính cách con người nơi đây. Hãy cùng Bách hoá XANH
        tìm hiểu 20 món ngon nhất định phải thử khi đến với Hà Nội.
    </p>
    <div class="my-3">
        <div class="bg-sky-100 p-5 rounded">
            <p class="text-blue-600 flex items-center gap-2"><span class="text-2xl">Xem nhanh</span> <i class="fa-solid fa-circle-chevron-down"></i></p>
            <ul class="px-3 flex flex-col gap-2 mt-2">
                <li><a href="#dacsan1" class="text-blue-500">1. Đặc sản Xôi vò chè hoa cau</a></li>
                <li><a href="#dacsan2" class="text-blue-500">2. Đặc sản phở chay</a></li>
                <li><a href="#dacsan3" class="text-blue-500">3. Đặc sản Nộm củ sen</a></li>
                <li><a href="#dacsan4" class="text-blue-500">4. Đặc sản nem chay</a></li>
                <li><a href="#dacsan5" class="text-blue-500">5. Đặc sản phở bò</a></li>
            </ul>
        </div>

        <div>
            <div id="dacsan1">
                <h4 class="text-black font-medium flex items-center gap-2 my-4 ml-3"><span class="text-5xl text-blue-600 font-medium">1</span> Đặc sản Xôi vò chè hoa cau</h4>
                <img class="w-full h-[25rem] rounded-t-lg cover" src="https://cdn.tgdd.vn/Files/2021/06/24/1363040/cac-mon-ngon-ha-noi-phai-thu-cac-quan-an-ha-noi-phai-ghe-202209271020421648.jpg" alt="">
                <p class="bg-gray-200 text-center p-1">Xôi vò chè hoa cau</p>
                <p style="line-height: 2;">
                    Xôi vò chè hoa cau là một trong những món chay truyền thống nổi tiếng của người Hà Nội.
                    Món ăn là sự kết hợp ngọt thanh của chè bột sắn, mùi hoa bưởi thơm thoảng và vị bùi béo
                    từ xôi vò đậu xanh. Nếu bạn có dịp đến với Hà Nội thì hãy ngay thử món ăn nhẹ nhàng, thanh tao này nhé.
                </p>
            </div>
            <div id="dacsan2">
                <h4 class="text-black font-medium flex items-center gap-2 my-4 ml-3"><span class="text-5xl text-blue-600 font-medium">2</span> Đặc sản phở chay</h4>
                <img class="w-full h-[25rem] rounded-t-lg cover" src="https://cdn.tgdd.vn/Files/2021/06/24/1363040/cac-mon-ngon-ha-noi-phai-thu-cac-quan-an-ha-noi-phai-ghe-202209271020590080.jpg" alt="">
                <p class="bg-gray-200 text-center p-1">Phở chay</p>
                <p style="line-height: 2;">
                    Khi nhắc đến Hà Nội là mọi người sẽ nhắc ngay đến món phở truyền thống.
                    Đặc biệt, món ăn này cũng có một phiên bản chay hấp dẫn không kém.
                    Phở chay vẫn giữ được hương vị quế hồi đặc trưng của phở và mang vị ngọt thanh đạm từ rau củ.
                </p>
            </div>
            <div id="dacsan3">
                <h4 class="text-black font-medium flex items-center gap-2 my-4 ml-3"><span class="text-5xl text-blue-600 font-medium">3</span> Đặc sản Nộm củ sen</h4>
                <img class="w-full h-[25rem] rounded-t-lg cover" src="https://cdn.tgdd.vn/Files/2021/06/24/1363040/cac-mon-ngon-ha-noi-phai-thu-cac-quan-an-ha-noi-phai-ghe-202209271021219022.jpg" alt="">
                <p class="bg-gray-200 text-center p-1">Nộm củ sen</p>
                <p style="line-height: 2;">
                    Mùa sen Hà Nội kết thúc cũng là lúc những món ăn chay từ củ sen trở nên thịnh hành.
                    Món nộm củ sen không chỉ  được các thực khách ưu ái lựa chọn nhiều hơn cả vì hương
                    vị ngọt bùi từ củ sen kết hợp hương vị tươi mát của những loại rau củ khác ăn kèm,
                    mà còn vì món ăn này giúp hạ nhiệt cơ thể vào những ngày Hà Nội sang thu.
                </p>
            </div>
            <div id="dacsan4">
                <h4 class="text-black font-medium flex items-center gap-2 my-4 ml-3"><span class="text-5xl text-blue-600 font-medium">4</span> Đặc sản nem chay</h4>
                <img class="w-full h-[25rem] rounded-t-lg cover" src="https://cdn.tgdd.vn/Files/2021/06/24/1363040/cac-mon-ngon-ha-noi-phai-thu-cac-quan-an-ha-noi-phai-ghe-202209271021566044.jpg" alt="">
                <p class="bg-gray-200 text-center p-1">Nem chay</p>
                <p style="line-height: 2;">
                    Nem chay là món ăn thường xuất hiện trong những dịp đặc biệt như rằm hoặc lễ tết.
                    Với công thức được biến tấu từ món nem truyền thống, món nem chay có hương vị
                    thanh đạm nhưng vẫn giữ được những hương vị truyền thống có thể tìm thấy được ở món nem bình thường.
                </p>
            </div>
            <div id="dacsan5">
                <h4 class="text-black font-medium flex items-center gap-2 my-4 ml-3"><span class="text-5xl text-blue-600 font-medium">5</span> Đặc sản phở bò</h4>
                <img class="w-full h-[25rem] rounded-t-lg cover" src="https://cdn.tgdd.vn/Files/2021/06/24/1363040/cac-mon-ngon-ha-noi-phai-thu-cac-quan-an-ha-noi-phai-ghe-202209271022113647.jpg" alt="">
                <p class="bg-gray-200 text-center p-1">Phở bò</p>
                <p style="line-height: 2;">
                    Phở bò luôn là món ăn giữ vị trí số một trong những món ăn ngon nhất Hà Nội.
                    Món ăn này được tạo nên bởi hương vị từ quế hồi cùng với nước dùng được hầm
                    từ xương bò trong thời gian dài, tạo nên trải nghiệm ăn uống đầy thú vị và gây
                    được ấn tượng mạnh đến với thực khách.
                </p>
            </div>
        </div>
    </div>
</section>
