
@{
    ViewBag.Title = "PostDetails";
}

<div class="w-[100%] h-[10rem] bg-sky-500 px-[7%] flex items-center">
    <p class="text-white">
        <a href="Home.html">Trang chủ</a> >
        <strong>Tin tức</strong>
    </p>
</div>

<section class="px-[7%] my-10">
    <div class="flex gap-10 items-start">
        <div class="w-[18rem]">
            <div class="p-3 border border-gray-300 rounded-lg">
                <p class="px-2 py-1 rounded bg-sky-200 text-blue-600 font-medium text-lg">Danh mục Tour</p>
                <hr class="my-2">
                <div class="my-3 flex flex-col gap-3">
                    <div class="flex justify-between items-center text-sm">
                        <a href="">Tour trong nước</a><i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="flex justify-between items-center text-sm">
                        <a href="">Tour nước ngoài</a><i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
            <div class="p-3 border border-gray-300 rounded-lg mt-5">
                <p class="px-2 py-1 rounded bg-sky-200 text-blue-600 font-medium text-lg">Cẩm nang du lịch</p>
                <hr class="my-2">
                <div class="my-3 flex flex-col gap-3">
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/thumb/medium/100/505/645/articles/t6-727933d9-27d2-4ca1-9fb3-53e88ede2fb7.jpg?v=1703492481463" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/thumb/medium/100/505/645/articles/t5.jpg?v=1703492218063" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/thumb/medium/100/505/645/articles/t4-3fa3d709-baa2-4729-85a7-c201db6fa6fa.jpg?v=1703491935167" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/thumb/medium/100/505/645/articles/t3-013e81af-ebec-4d8a-b934-cc83c34f1254.jpg?v=1703491656610" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/thumb/medium/100/505/645/articles/t2.jpg?v=1703491511400" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                    <div class="flex gap-3 items-center">
                        <img class="w-[6rem] h-[3.5rem] cover" src="https://bizweb.dktcdn.net/100/505/645/articles/t8.jpg?v=1703490486357" alt="">
                        <p class="line-clamp-2">
                            Du lịch Đà Lạt - Cẩm nang từ A đến Z (update thông tin mới nhất năm 2023)
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-1 flex flex-col gap-5">
            <div>
                <div class="flex items-center gap-3">
                    <img class="w-[3.5rem] h-[3.5rem] cover rounded-full" src="https://bizweb.dktcdn.net/100/505/645/themes/956063/assets/img_customer_review_2.png?1728351987196" alt="">
                    <div class="flex flex-col">
                        <span class="text-black font-medium text-base">ran mori</span>
                        <span class="text-gray-400 font-light">12:30:00 22/10/2024</span>
                    </div>
                </div>
                <div class="">
                    <p class="text-lg text-black mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sint vitae dolor doloremque.</p>
                    <p class="text-black my-2">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates fuga alias exercitationem enim ipsam suscipit quae
                        , qui dolorem, quibusdam, repellendus tenetur possimus magnam beatae velit excepturi amet quam asperiores libero.
                    </p>
                    <p class="text-blue-600 font-medium">#Nha Trang: Vườn Nho - Đồng Cừu - Hang Rái 4N3Đ</p>
                    <img src="https://bizweb.dktcdn.net/100/505/645/products/sp5-60141a98-6401-4d08-9209-bb8bb8466b2c.jpg?v=1703217989377" class="rounded-t-lg mt-3 w-full h-[30rem] object-cover" alt="">
                    <p class="bg-gray-100 text-center p-2">Hinh anh thanh pho da nang</p>
                </div>
            </div>

            <div>
                <div class="flex items-center gap-3">
                    <img class="w-[3.5rem] h-[3.5rem] cover rounded-full" src="https://bizweb.dktcdn.net/100/505/645/themes/956063/assets/img_customer_review_2.png?1728351987196" alt="">
                    <div class="flex flex-col">
                        <span class="text-black font-medium text-base">ran mori</span>
                        <span class="text-gray-400 font-light">12:30:00 22/10/2024</span>
                    </div>
                </div>
                <div class="">
                    <p class="text-lg text-black mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sint vitae dolor doloremque.</p>
                    <p class="text-black">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates fuga alias exercitationem enim ipsam suscipit quae
                        , qui dolorem, quibusdam, repellendus tenetur possimus magnam beatae velit excepturi amet quam asperiores libero.
                    </p>
                    <p class="text-blue-600 font-medium">#Tour Lặn Biển 1 Ngày: Khám Phá Vịnh Nha Trang</p>
                    <img src="https://bizweb.dktcdn.net/100/505/645/products/sp5-60141a98-6401-4d08-9209-bb8bb8466b2c.jpg?v=1703217989377" class="rounded-t-lg mt-3 w-full h-[30rem] object-cover" alt="">
                    <p class="bg-gray-100 text-center p-2">Hinh anh thanh pho da nang</p>
                </div>
            </div>

            <div>
                <div class="flex items-center gap-3">
                    <img class="w-[3.5rem] h-[3.5rem] cover rounded-full" src="https://bizweb.dktcdn.net/100/505/645/themes/956063/assets/img_customer_review_2.png?1728351987196" alt="">
                    <div class="flex flex-col">
                        <span class="text-black font-medium text-base">ran mori</span>
                        <span class="text-gray-400 font-light">12:30:00 22/10/2024</span>
                    </div>
                </div>
                <div class="">
                    <p class="text-lg text-black mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis sint vitae dolor doloremque.</p>
                    <p class="text-black">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates fuga alias exercitationem enim ipsam suscipit quae
                        , qui dolorem, quibusdam, repellendus tenetur possimus magnam beatae velit excepturi amet quam asperiores libero.
                    </p>
                    <img src="https://bizweb.dktcdn.net/100/505/645/products/sp5-60141a98-6401-4d08-9209-bb8bb8466b2c.jpg?v=1703217989377" class="rounded-t-lg mt-3 w-full h-[30rem] object-cover" alt="">
                    <p class="bg-gray-100 text-center p-2">Hinh anh thanh pho da nang</p>
                </div>
            </div>
        </div>
</section>
